@charset "UTF-8";

/* em HTML é id = em CSS é #
   em HTML é class = em CSS é .*/

body{
    background-color: #00fc7694;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: #00B354;
}

#principal{
    text-align: center;
    background-color:#00D664;
    color: white;
    
}

h2{
    color: #007034;
}
.basico{
    color:rgb(7, 41, 3);
}
.intermediario{
    color: rgb(217, 255, 0);
}
.avancado{
    color: rgb(255, 0, 0);
}
.destaque{
    background-color: rgba(136, 136, 10, 0.621);
}