/* @charset "UTF-8" */


*{
    font-family:Arial, Helvetica, sans-serif;
    height: 100;
}
body{
    background-image: linear-gradient(to right,#1F2A40,#A2D4F2,#7EDDF2,#F2A97E );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(70, 34, 22, 0.959);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:rgb(89, 45, 29) ;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(71, 29, 14, 0.978);
}

h2{
    color:#1F2A40 ;
}
p {
    text-align: justify;
}


