@charset "UTF-8";
@font-face {
    font-family:"idroid";
    src: url("desafio10/fontes/idroid.otf");
}

body{
    background-color: #84e1ad;
}

header{

    background-image:linear-gradient(to top, #1a5c38, #3cdc84);

}
main{
    background-color: white;
    margin: auto;
    width: 60%;
    padding: 10px;
}
main>h1{
    font-family:"idroid", sans-serif;
    color: #115530;
}

main>h2{
    
    font-family:"idroid", sans-serif;
    background-image: linear-gradient(to right, #c3e9d4,#ffffff);
    color: #125632;
}