@charset "UTF-8";
@font-face {
    font-family:"idroid";
    src: url("fontes/idroid.otf");
}
@font-face {
    font-family: 'coolvetica';
    src: url(fontes/coolvetica_condensed_rg.otf);
}
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body{
    background-color: #84e1ad;
    
    
}

header{

    background-image:linear-gradient(to top, #1a5c38, #3cdc84);
    color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.259);

}
header h1{
    font-family: 'coolvetica', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 10px 0px 10px ;
    font-weight: 200;
    margin-bottom: 15px;
    font-size:2.7em;

}

header p{
    text-align: center;
    margin: 15px auto;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
}


menu{
    padding:0px 10px 10px 20px;
    
}
menu a:link,a:active{ 
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: small;
    margin-right: 15px;
}
menu a:visited{
color: white;
}

main{
    background-color: white;
    margin: 0px auto 15px;
    width: 65%;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.344);
    border-radius: 0px 0px 10px 10px;
}

main>h1{
    font-family:"idroid", sans-serif;
    color: #115530;
    margin-bottom: 15px;
}

main>h2{
    
    font-family:"idroid", sans-serif;
    background-image: linear-gradient(to right, #c3e9d4,#ffffff);
    padding-left: 10px;
    color: #125632;
    margin: 15px 0px;
}

main p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 30px;
    font-size: 18px;
}
main strong{
    color: #31c777;
}
main a:link, a:visited,a:active{
    color: #125332;
    text-decoration: none;
    font-weight: bold;
    background-color: #5caf7d62;
}
main a:hover{
    
}

i{
    color: #555;
    margin-left: -25px;
}

picture img{
    width: 100%;
}
#video{
    background-color:#115530;
    padding: 20px;
    margin: 15px -20px 15px -20px;
    
    
    
}
#extra{
    background-color: #c5ebd6;
    border-radius: 20px;
    
    
}
#extra h3{
background-color: #31c777;
border-radius: 20px 20px 0px 0px;
padding: 10px;
color: white; 
font-weight: bold;
}
#extra p{
    margin: 10px;
    padding: 15px 0px;
}
#extra td{
    width: 600px;
}

#extra ul{
    
}
/* <i class="fa-solid fa-check"></i> */
#extra li{
    list-style-type: disc;
    margin-left: 25px;
    
}
footer{
    background-color:#115530 ;
    text-align: center;
    padding: 10px;
    font-size:small;
    color: rgba(255, 255, 255, 0.737);
    font-family:Arial, Helvetica, sans-serif;
}
footer strong{
    color: white;
}