@charset "UTF-8";
@font-face {
    font-family:"idroid";
    src: url("fontes/idroid.otf")format("opentype");
}
@font-face {
    font-family:'bebas' ;
    src: url(fontes/BebasNeue-Regular.ttf) format('truetype');
}


*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-header:'bebas', cursive;
    --fonte-body: Arial, Helvetica, sans-serif;
    --fonte-titulo: "idroid";
}


body{
    background-color: var(--cor0);
    font-family: var(--fonte-body);
    
    
}

header{

    background-image:linear-gradient(to top, var(--cor4), var(--cor2));  
    color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.259);
    padding: 15px 10px 10px 0;
    text-align: center;

}
header h1{
    font-family: var(--fonte-header);
    text-transform: uppercase;
    padding: 15px 10px 0px 0px ;
    font-weight: 200;
    margin-bottom: 15px;
    font-size:3.7em;
    text-shadow: 3px 3px  rgba(51, 51, 51, 0.541);

}

header p{
    
    margin: 15px auto;
    width: 400px;
    font-size: 1.2em;
    text-shadow: 1px 1px  rgba(51, 51, 51, 0.541);
    
}


nav{
    padding:10px 10px 10px 20px;
    background-image:linear-gradient(to top, var(--cor5), var(--cor4));
    box-shadow: 0px 5px 5px rgba(63, 63, 63, 0.275);
    font-size: 1.3em;
    
   
    
}
nav a{ 
    text-decoration: none;
    color:white;
    font-weight: bolder;
    margin-right: 15px;
    transition-duration: .5s;
    padding: 15px;
}
nav a:visited{
color: white;
}
nav a:hover{
    color: var(--cor4);
    background-color: white;
}

main{
    background-color: white;
    margin: auto;
    min-width: 65%;
    max-width: 1200px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.344);
    border-radius: 0px 0px 10px 10px;
}

article>h1{
    font-family:"idroid", sans-serif;
    color: var(--cor4);
    margin-bottom: 15px;
}

article>h2{
    
    font-family:"idroid", sans-serif;
    background-image: linear-gradient(to right, var(--cor0),transparent);
    padding-left: 10px;
    color: var(--cor4);
    margin: 15px 0px;
    font-size: 1.3em;
}

article p{
    font-weight: 500;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.5em;
    margin: 15px 0px ;
}
article strong{
    color: var(--cor4);
}
a.externo::after{
    content: '\00A0\1F517';
}
article a {
    color: var(--cor4);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor0);
    padding: 1px 6px;
}
article a:hover{
    text-decoration:underline;
}



article i{
    color: #555;
    margin-left: -25px;
}

picture img{
    width: 100%;
}

.pequena{
    width: 500px;
    display: block;
    margin: auto;
}
#video{
    background-color:#115530;
    padding: 20px;
    margin: 15px -20px 15px -20px;
    
    
    
}
#extra{
    background-color: #c5ebd6;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #333;
    
    
}
#extra h3{
background-color: #31c777;
border-radius: 10px 10px 0px 0px;
padding: 10px;
color: white; 
font-weight: bold;
}
#extra p{
    margin: 10px;
    padding: 15px 0px;
}
#extra td{
    width: 600px;
}
aside ul {
    list-style-type:'\2714\00A0\00A0';
    margin-left: 25px;
    list-style-position: inside;
    columns: 2;

}

footer strong{
    color: white;
}
footer>p>a { 
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: small;
    margin: 3px;
}
footer a:visited{
color: white;}