@charset "UTF-8";
@font-face {
    font-family:"idroid";
    src: url("fontes/idroid.otf")format("opentype");
}
@font-face {
    font-family:'bebas' ;
    src: url(fontes/BebasNeue-Regular.ttf) format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-header:'bebas', cursive;
    --fonte-body: Arial, Helvetica, sans-serif;
    --fonte-titulo: "idroid";
}


body{
    background-color: var(--cor0);
    
    
}

header{

    background-image:linear-gradient(to top, var(--cor4), var(--cor2));  
    color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.259);

}
header h1{
    font-family: var(--fonte-header);
    text-transform: uppercase;
    text-align: center;
    padding: 15px 10px 0px 10px ;
    font-weight: 200;
    margin-bottom: 15px;
    font-size:2.7em;

}

header p{
    text-align: center;
    margin: 15px auto;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
}


nav{
    padding:0px 10px 10px 20px;
    
}
nav a:link,a:active{ 
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: small;
    margin-right: 15px;
}
nav a:visited{
color: white;
}

article{
    background-color: white;
    margin: 0px auto 15px;
    width: 65%;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.344);
    border-radius: 0px 0px 10px 10px;
}

article>h1{
    font-family:"idroid", sans-serif;
    color: #115530;
    margin-bottom: 15px;
}

article>h2{
    
    font-family:"idroid", sans-serif;
    background-image: linear-gradient(to right, #c3e9d4,#ffffff);
    padding-left: 10px;
    color: #125632;
    margin: 15px 0px;
}

article p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 30px;
    font-size: 18px;
}
article strong{
    color: #31c777;
}
article a:link, a:visited,a:active{
    color: #125332;
    text-decoration: none;
    font-weight: bold;
    background-color: #5caf7d62;
}


i{
    color: #555;
    margin-left: -25px;
}

picture img{
    width: 100%;
}
#video{
    background-color:#115530;
    padding: 20px;
    margin: 15px -20px 15px -20px;
    
    
    
}
#extra{
    background-color: #c5ebd6;
    border-radius: 20px;
    
    
}
#extra h3{
background-color: #31c777;
border-radius: 20px 20px 0px 0px;
padding: 10px;
color: white; 
font-weight: bold;
}
#extra p{
    margin: 10px;
    padding: 15px 0px;
}
#extra td{
    width: 600px;
}


/* <i class="fa-solid fa-check"></i> */
#extra li{
    list-style-type: disc;
    margin-left: 25px;
    
}
footer{
    background-color:#115530 ;
    text-align: center;
    padding: 10px;
    font-size:small;
    color: rgba(255, 255, 255, 0.737);
    font-family:Arial, Helvetica, sans-serif;
    
}
footer strong{
    color: white;
}
footer a:link,a:active{ 
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: small;
    margin-right: 15px;
}
footer a:visited{
color: white;